body {
  --speed-1: 100ms;
  --speed-2: 200ms;
  --speed-3: 600ms;
  --clr-main: whitesmoke;
  --clr-accent: lime;
  --clr-destr: red;
  --op-inact-bttn: 40%;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  color: var(--clr-main);
  background-color: black;
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
#anim_bg {
  position: absolute;
  z-index: -1;
}
.anim_bg-pipe {
  stroke-opacity: 20%;
  stroke-linecap: round;
}
h1 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-family: 'Jacques Francois Shadow', cursive;
}
#anim_title span:nth-of-type(5n+1) {
  color: magenta;
}
#anim_title span:nth-of-type(5n+2) {
  color: cyan;
}
#anim_title span:nth-of-type(5n+3) {
  color: yellow;
}
#anim_title span:nth-of-type(5n+4) {
  color: lime;
}
#anim_title span:nth-of-type(5n+5) {
  color: blueviolet;
}
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: var(--clr-accent);
}
a.button {
  pointer-events: all;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-top: 0.065em solid transparent;
  border-bottom: 0.065em solid transparent;
  padding: 0.125em 0 0.125em;
  text-align: center;
  transition-duration: var(--speed-2);
  transition-timing-function: ease-out;
  cursor: pointer;
}
a.button span {
  display: none;
}
a.button:hover {
  border-bottom-color: var(--clr-main);
}
a.button:active {
  border-bottom-color: var(--clr-accent);
  color: var(--clr-accent);
}
a.button:hover span,
a.button:active span {
  display: inline;
}
a.button.destr:active {
  border-bottom-color: var(--clr-destr);
  color: var(--clr-destr);
}
#menu {
  pointer-events: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu a {
  border-top: none !important;
  padding-top: 0.5em !important;
}
#menu:hover a {
  opacity: var(--op-inact-bttn);
}
#menu a:hover {
  opacity: 100%;
}
header {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
header h2 {
  margin: 0;
  padding: 0 2ex;
  text-align: center;
  font-size: inherit;
}
header a {
  font-weight: bold;
  font-size: inherit;
  transition-duration: var(--speed-1);
}
header a:hover {
  opacity: 70%;
}
header a:active {
  opacity: 100%;
}
#levels_table {
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  display: grid;
  list-style-type: none;
}
#levels_table a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(245, 245, 245, 0.3);
  transition-duration: var(--speed-1);
}
#levels_table a:hover {
  color: black;
  background-color: var(--clr-main);
}
#levels_table a:active {
  color: black;
  background-color: var(--clr-accent);
}
#field {
  touch-action: none;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--clr-main);
}
[id^="cell"] rect {
  stroke: gray;
  fill: black;
}
[id^="pipe"] {
  stroke-linecap: round;
  pointer-events: none;
}
.bar {
  pointer-events: none;
  justify-self: center;
  display: flex;
  align-items: center;
}
.bar article p {
  margin: 0;
  text-align: center;
  font-weight: bold;
  opacity: 70%;
}
.bar article p:nth-of-type(2) {
  margin: 0.125em 0;
  font-weight: normal;
  opacity: 100%;
}
.bar:hover a {
  opacity: var(--op-inact-bttn);
}
.bar a:hover {
  opacity: 100%;
}
#dialog {
  pointer-events: none;
  opacity: 0;
  height: fit-content;
  box-sizing: border-box;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  transition-duration: var(--speed-3);
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
h3 {
  margin: 0 0 0.7em;
  text-align: center;
  font-size: 1.67em;
}
#dialog p {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 1.5em auto;
  border-top: 0.1em solid var(--clr-main);
  border-bottom: 0.1em solid var(--clr-main);
  padding: 1.5em 0;
  text-align: center;
  font-weight: bold;
}
#dialog a {
  margin-top: 0.75em;
}
#dialog:hover a {
  opacity: var(--op-inact-bttn);
}
#dialog a:hover {
  opacity: 100%;
}
#backdrop {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color:rgba(0, 0, 0, 0.6);
  transition-duration: var(--speed-3);
}
#how_to_play {
  border-top: 0.1em solid var(--clr-main);
  border-bottom: 0.1em solid var(--clr-main);
}
#how_to_play p {
  text-align: justify;
}
#about_project {
  text-align: center;
  font-size: 0.5em;
  opacity: 70%;
}
#about_project p {
  margin: 0;
}
#about_project a:link,
#about_project a:visited {
  text-decoration: underline;
}